root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true
trim_trailinig_whitespace = true

[*.js]
quote_type = single

[*.md]
trim_trailinig_whitespace = false

[*md]
insert_final_newline = false

