.Container {
  height: 300px;
  width: 600px;
  margin: 30px;
  text-align: center;
}

.modal {
  position: absolute;
  width: 70vw;
  height: 70vh;
  top: 15vh;
  left: 15vw;
  outline: none;
  line-height: 0;
}

.iframe {
  margin: 0;
  width: 100%!important;
  height: 100%!important;
}

@media screen and (max-width: 750px) {
  .modal {
    width: 70vw;
    height: 50vh;
    top: 25vh;
    left: 15vw;
  }
}

@media screen and (max-width: 450px) {
  .modal {
    width: 70vw;
    height: 30vh;
    top: 38vh;
    left: 15vw;
  }
}
