.main {
  background-color: #08a3a0;
  border-top: 1px solid #ebd00a;
}
.main .container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.main a {
  color: #fff;
  text-decoration: none;
}
