.main {
  background-color: #006668;
  padding: 9px 0 0;
  /* display: flex;
  flex-flow: column;
  justify-content: center; */
}
.heading {
  display: flex;
  /* justify-content: center; */
  max-width: 1200px;
  margin: 0 auto;
}
.heading h1 {
  font-size: 20px;
  color: #ebd00a;
  padding: 10px 0 0 10px;
  font-weight: normal;
}

