.main {
  background-color: #006668;
  display: flex;
  flex-flow: column;
  padding-top: 10px;
}

.heading {
  display: flex;
  justify-content: flex-start;
  max-width: 1200px;
  margin: 0 auto;
}

.heading h1 {
  font-size: 20px;
  color: #12c4c1;
  padding: 10px 0 0 10px;
  font-weight: normal;
}

@media only screen and (max-width: 959px) {
  body {
    padding-left: 56px;
  }
}

@media only screen and (max-width: 600px) {
  .heading h1 {
    font-size: 15px;
  }
}
