.main {
  background-color: #006668;
  display: flex;
  flex-flow: column;
  padding-top: 10px;
}

.heading {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.logo h1 {
  font-size: 20px;
  color: #12c4c1;
  padding: 10px 0 0 10px;
  font-weight: normal;
}

.logo {
  display: flex;
}

.locales {
  display: flex;
  justify-content: space-between;
  align-self: center;
  margin-right: 2rem;
}

.locales a {
  text-decoration: none;
  font-size: 20px;
  color: #12c4c1;
  padding: 6px 0 0 10px;
  margin-bottom: 1.45rem;
  font-weight: normal;
}

.locales a:hover {
  color: #fff;
}

@media only screen and (max-width: 959px) {
  body {
    padding-left: 56px;
  }
}

@media only screen and (max-width: 600px) {
  .heading h1 {
    font-size: 15px;
  }

  .locales a {
    font-size: 15px;
  }
}
