.main {
  background-color: rgb(8, 166, 163);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-content: center;
}
.copyright {
  margin: 0;
  color: black;
  font-size: 16px;
  font-weight: 500;
}

